body {
  background: linear-gradient(-45deg, #ee7752, #cc2b5e, #123f64, #23D5AB);
  background-size: 500% 4000%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar.navbar-light.navbar-expand-md.fixed-top.navbar-logged-in.navbar-overlay {
  background: linear-gradient(-45deg, #EE7752, #cc2b5e, #123f64, #23D5AB);
  background-size: 400% 2000%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  z-index: 3;
}

@media (min-width: 768px) {
  .navbar.navbar-light.navbar-expand-md.fixed-top.navbar-logged-in.navbar-overlay {
    border-bottom: 1px solid white;
  }
}

.area {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: transparent;
  animation: animate 10s linear infinite;
  bottom: -150px;
  border: none;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 7s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 8s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 8s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

#img-anim {
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  #img-anim {
    width: 80px;
    height: 80px;
  }
}

#body-choose {
  height: 90vh;
}

.w-100.d-block {
  width: 80%!important;
  margin: auto;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .contr {
    display: none;
  }
}

.navbar.navbar-light.navbar-expand-md.fixed-top.navbar-logged-in.navbar-overlay {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  font-family: 'Lato';
  width: 70px;
}

@media (min-width: 768px) {
  #icon-back {
    display: none;
  }
}

#link-back {
  position: sticky;
  z-index: 100;
  top: 30%;
  float: left;
}

